
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
  
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
  
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
  
    --primary: 220 90% 56%;
    --primary-foreground: 0 0% 100%;
  
    --secondary: 210 40% 96%;
    --secondary-foreground: 222 47% 11%;
  
    --muted: 210 40% 96%;
    --muted-foreground: 215 20% 40%;
  
    --accent: 210 100% 56%;
    --accent-foreground: 0 0% 100%;
  
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 100%;
  
    --info: 198 90% 48%;
    --info-foreground: 0 0% 100%;
  
    --border: 215 20% 65%;
    --input: 215 20% 94%;
    --ring: 215 100% 50%;
  
    --chart-1: 220 90% 56%;
    --chart-2: 340 82% 52%;
    --chart-3: 48 94% 66%;
    --chart-4: 171 66% 44%;
    --chart-5: 291 64% 42%;
  
    --sidebar-background: 210 40% 96%;
    --sidebar-foreground: 222 47% 11%;
    --sidebar-primary: 220 90% 56%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 100% 56%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 215 20% 80%;
    --sidebar-ring: 220 90% 56%;
  
    --radius: 0.5rem;
  }
  
  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;
  
    --card: 233 12% 14%;
    --card-foreground: 0 0% 100%;
  
    --popover: 233 12% 14%;
    --popover-foreground: 0 0% 100%;
  
    --primary: 220 90% 66%;
    --primary-foreground: 0 0% 100%;
  
    --secondary: 240 5% 20%;
    --secondary-foreground: 0 0% 100%;
  
    --muted: 240 4% 16%;
    --muted-foreground: 240 6% 55%;
  
    --accent: 210 100% 56%;
    --accent-foreground: 0 0% 100%;
  
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 100%;
  
    --info: 198 90% 58%;
    --info-foreground: 0 0% 100%;
  
    --border: 240 4% 26%;
    --input: 233 12% 22%;
    --ring: 220 90% 66%;
  
    --sidebar-background: 233 12% 14%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 220 90% 66%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 210 100% 56%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 240 4% 26%;
    --sidebar-ring: 220 90% 66%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Manrope', sans-serif;
  }
}

@keyframes aurora {
  from {
    background-position: 50% 50%, 50% 50%;
  }
  to {
    background-position: 350% 50%, 350% 50%;
  }
}

@keyframes sweep {
  0% {
    background-position: 200% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}

@keyframes colourShift {
  0% {
    --engine-color: #3b9eff;
  }
  50% {
    --engine-color: #d19dff;
  }
  100% {
    --engine-color: #3b9eff;
  }
}

.engine_keyword {
  font-size: clamp(8rem, 23vw, 24rem);
  line-height: 1;
  background: linear-gradient(
    115deg,
    #e0e0e0 10%,
    var(--engine-color) 20%,
    #b6b6b6 35%,
    #e0e0e0 45%,
    var(--engine-color) 60%,
    #e0e0e0 75%
  );
  background-size: 130% auto;
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: sweep 4s linear infinite, colourShift 5s linear infinite;
}
